.panels-search-counter {
  display: inline;
  float: right;
  padding-right: 15px;
}
.panels-category-zero-results {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
}
